header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: .5rem 2rem;
  display: flex;
}

header .header-title-container {
  align-items: center;
  gap: .5rem;
  height: 100%;
  display: flex;
}

header .header-title-container .logo-link, header .header-title-container .logo-link img {
  height: 100%;
}

header .header-title-container .header-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar {
  align-items: center;
  display: flex;
}

.navbar a {
  color: #03263a;
  text-decoration: none;
}

.navbar__toggle {
  cursor: pointer;
  color: #03263a;
  background: none;
  border: none;
  font-size: 3rem;
  display: none;
}

.navbar__toggle--hidden {
  display: none;
}

.navbar__menu {
  gap: 1.5rem;
  width: fit-content;
  list-style: none;
  display: flex;
}

.navbar__menu .menu-item {
  font-size: 1.5rem;
  text-decoration: none;
  transition: transform .1s ease-in-out;
}

.navbar__menu .menu-item:hover {
  transform: scale(1.1);
}

.navbar__menu .menu-item--inicio {
  margin-right: 1.5rem;
  font-weight: 600;
}

.navbar__menu .menu-item--active {
  border-bottom: 2px solid #03263a;
}

.navbar__menu .navbar__close-toggle {
  display: none;
}

@media (width <= 1440px) {
  header .header-title-container .header-title {
    display: none;
  }
}

@media (width <= 1024px) {
  header {
    padding: .5rem 1rem;
  }

  .navbar__toggle {
    display: block;
  }

  .navbar__menu {
    z-index: 1000;
    background-color: #f8f8f8;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    width: 70%;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 1rem;
    transition: right .3s ease-in-out;
    position: fixed;
    top: 0;
    right: -100%;
    box-shadow: 0 0 10px #0000001a;
  }

  .navbar__menu.active {
    right: 0;
  }

  .navbar__menu .menu-item--inicio {
    margin-right: 0;
  }

  .navbar__menu .close-button-item {
    align-items: flex-end;
    width: 100%;
    margin-right: 1rem;
  }

  .navbar__menu .navbar__close-toggle {
    cursor: pointer;
    color: #03263a;
    text-align: right;
    background: none;
    border: none;
    align-self: flex-end;
    width: 100%;
    font-size: 2rem;
    display: block;
  }
}

footer {
  background-color: #223023;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 50px;
  display: flex;
}

.footer-list {
  align-items: center;
  gap: 1rem;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-list a {
  color: #fff;
  text-decoration: none;
}

.footer-list__item {
  align-items: center;
  height: 100%;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
}

.footer-list__item--logo {
  align-items: flex-end;
}

.footer-list__item img {
  height: 75%;
}

.footer-list__item:hover {
  transform: scale(1.1);
}

@media (width <= 1024px) {
  .footer-list__item {
    font-size: .8rem;
  }
}

* {
  box-sizing: border-box;
}

a, ul, li {
  color: #03263a;
  text-decoration: none;
  list-style: none;
}

a:hover, ul:hover, li:hover, a:active, ul:active, li:active, a:visited, ul:visited, li:visited {
  text-decoration: none;
}

body {
  background-color: #f8f8f8;
  height: fit-content;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

main {
  height: 100%;
}

.body-portada {
  height: 100vh;
}

.portada-container {
  height: calc(100% - 50px);
  display: flex;
  overflow: hidden;
}

.portada-container .imagen-fondo-container {
  min-width: 30vw;
  position: relative;
  overflow: hidden;
}

.portada-container .imagen-fondo-container .imagen-fondo {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.portada-container .imagen-fondo-container .imagen-agua {
  clip-path: polygon(100% 100%, 0% 100%, 0% 56.64%, 2% 55.52%, 4% 52.31%, 6% 47.46%, 8% 41.65%, 10% 35.71%, 12% 30.46%, 14% 26.64%, 16% 24.79%, 18% 25.16%, 20% 27.71%, 22% 32.08%, 24% 37.65%, 26% 43.65%, 28% 49.22%, 30% 53.59%, 32% 56.14%, 34% 56.51%, 36% 54.66%, 38% 50.84%, 40% 45.59%, 42% 39.65%, 44% 33.84%, 46% 28.99%, 48% 25.78%, 50% 24.66%, 52% 25.78%, 54% 28.99%, 56% 33.84%, 58% 39.65%, 60% 45.59%, 62% 50.84%, 64% 54.66%, 66% 56.51%, 68% 56.14%, 70% 53.59%, 72% 49.22%, 74% 43.65%, 76% 37.65%, 78% 32.08%, 80% 27.71%, 82% 25.16%, 84% 24.79%, 86% 26.64%, 88% 30.46%, 90% 35.71%, 92% 41.65%, 94% 47.46%, 96% 52.31%, 98% 55.52%, 100% 56.64%);
  object-fit: cover;
  object-position: bottom right;
  width: 200%;
  height: 100px;
  animation: 10s linear infinite alternate moveWaves;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes moveWaves {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.portada-container .contenido {
  width: 100%;
}

.portada-container .portada {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: calc(100% - 60px);
  padding-left: 2rem;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.portada-container .portada .titulo-contenedor {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-bottom: 60px;
  display: flex;
}

.portada-container .portada .titulo-contenedor__titulo {
  color: #03263a;
  width: 100%;
  margin: 0;
  font-size: 4rem;
}

.portada-container .portada .titulo-contenedor__subtitulo {
  color: #03263a;
  max-width: 500px;
  margin: 0;
  font-size: 2rem;
}

.portada-container .portada .imagen-perro {
  height: 450px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (width <= 1900px) {
  .portada-container .portada .imagen-perro {
    height: 350px;
  }
}

@media (width <= 1440px) {
  .portada-container .portada {
    align-items: center;
  }

  .portada-container .portada .titulo-contenedor__titulo {
    font-size: 3rem;
  }

  .portada-container .portada .titulo-contenedor__subtitulo {
    font-size: 2rem;
  }

  .portada-container .portada .imagen-perro {
    height: 250px;
  }
}

@media (width <= 1024px) {
  .portada-container {
    background-image: url("fondo-portada.06ffdd92.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .portada-container .imagen-fondo-container {
    width: 100vw;
    position: absolute;
    bottom: -10px;
    left: 0;
  }

  .portada-container .imagen-fondo-container .imagen-fondo {
    display: none;
  }

  .portada-container .imagen-fondo-container .imagen-agua {
    position: relative;
  }

  .portada-container .portada {
    padding: 0 1.5rem;
  }

  .portada-container .portada .titulo-contenedor {
    padding-bottom: 3rem;
  }

  .portada-container .portada .titulo-contenedor__titulo {
    font-size: 2.5rem;
  }

  .portada-container .portada .titulo-contenedor__subtitulo {
    font-size: 1.5rem;
  }

  .portada-container .portada .imagen-perro {
    display: none;
  }
}
/*# sourceMappingURL=index.867122b9.css.map */
