@import "variables";

.detalle-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: fit-content;

  .detalle-title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
    color: $primary-color;
  }

  .detalle-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;

    .detalle-image {
      grid-column: 1 / span 1;
      img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    .detalle-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      font-size: 1.1rem;
      padding: 0;

      &__item {
        font-weight: 400;
        color: #333;

        strong {
          font-weight: 500;
          color: $primary-color;
        }
      }
    }
  }

  .detalle-description {
    max-width: 1000px;
    margin-top: 3rem;

    h2 {
      font-size: 1.8rem;
      color: $primary-color;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.6;
      color: #555;
      margin-bottom: 1rem;
      text-align: justify;
    }
  }

  .detalle-recomendadas {
    max-width: 1000px;
    margin-top: 3rem;
    width: 100%;

    h2 {
      font-size: 1.8rem;
      color: $primary-color;
      margin-bottom: 1rem;
    }

    &__list {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 1rem;
        font-size: 1.1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        padding: 1rem;
        cursor: pointer;
        background-color: #fff;
        border-radius: 8px;

        a {
          color: $primary-color;
          text-decoration: none;
          font-weight: 500;
        }
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .detalle-main-container {
    .detalle-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      padding: 0 2rem;

      .detalle-image {
        grid-row: 1;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
      }

      .detalle-info {
        grid-row: 2;
        font-size: 1rem;
        gap: 0.2rem;

        p {
          margin: 0.7rem 0;
        }
      }
    }

    .detalle-title {
      font-size: 2rem;
    }

    .detalle-description {
      padding: 1rem;
    }
  }
}

@media (max-width: $phone-breakpoint) {
  .detalle-main-container {
    padding: 1rem;

    .detalle-title {
      font-size: 1.5rem;
    }

    .detalle-content .detalle-info {
      font-size: 1rem;

      &__item {
        margin: 0.5rem 0;
      }
    }

    .detalle-description {
      h2 {
        font-size: 1.6rem;
      }
    }
  }
}
