@import "variables";

.presentacion-main-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 4rem;

  .presentacion-titulo {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin: 2rem 0;
    color: $primary-color;
  }

  .presentacion-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    line-height: 1.6;
    color: #555;
    padding-bottom: 4rem;

    &__text {
      max-width: 800px;
      margin: 1.5rem 0;
      font-size: 1.1rem;
    }

    .presentacion-imagen {
      width: 100%;
      max-width: 800px;
      margin: 1.5rem 0;

      img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    .presentacion-video {
      width: 100%;
      max-width: 800px;
      margin: 1.5rem 0;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .presentacion-main-contenedor {
    .presentacion-titulo {
      font-size: 3rem;
    }

    .presentacion-contenido {
      &__text {
        font-size: 1.8rem;
      }
    }
  }
}
