@import "variables";
@import "header-styles";
@import "footer-styles";

* {
  box-sizing: border-box;
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
  color: $primary-color;

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

main {
  height: 100%;
}

.body-portada {
  height: 100vh;
}

.portada-container {
  height: calc(100% - 50px);
  overflow: hidden;
  display: flex;

  .imagen-fondo-container {
    position: relative;
    min-width: 30vw;
    overflow: hidden;
    .imagen-fondo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .imagen-agua {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 200%;
      height: 100px;
      clip-path: $waves-clip-path;
      animation: moveWaves 10s linear infinite alternate;
      object-fit: cover;
      object-position: bottom right;
    }

    @keyframes moveWaves {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }

  .contenido {
    width: 100%;
  }

  .portada {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: calc(100% - 60px);
    padding-left: 2rem;
    overflow-x: hidden;

    .titulo-contenedor {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 60px;

      &__titulo {
        width: 100%;
        font-size: 4rem;
        color: $primary-color;
        margin: 0;
      }
      &__subtitulo {
        font-size: 2rem;
        color: $primary-color;
        margin: 0;
        max-width: 500px;
      }
    }

    .imagen-perro {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 450px;
    }
  }
}

.logo-img {
  width: 100%;
  height: 100%;
}

@media (max-width: $desktop-breakpoint) {
  .portada-container {
    .portada {
      .imagen-perro {
        height: 350px;
      }
    }
  }
}
@media (max-width: $laptop-breakpoint) {
  .portada-container {
    .portada {
      align-items: center;

      .titulo-contenedor {
        &__titulo {
          font-size: 3rem;
        }
        &__subtitulo {
          font-size: 2rem;
        }
      }

      .imagen-perro {
        height: 250px;
      }
    }
  }
}
@media (max-width: $tablet-breakpoint) {
  .portada-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/img/fondo-portada.svg");
    position: relative;

    .imagen-fondo-container {
      width: 100vw;
      position: absolute;
      bottom: -10px;
      left: 0;

      .imagen-fondo {
        display: none;
      }

      .imagen-agua {
        position: relative;
      }
    }

    .portada {
      padding: 0 1.5rem;
      .titulo-contenedor {
        &__titulo {
          font-size: 2.5rem;
        }
        &__subtitulo {
          font-size: 1.5rem;
        }
        padding-bottom: 3rem;
      }

      .imagen-perro {
        display: none;
      }
    }
  }
}
