@import "variables";
@import "header-styles";

* {
  box-sizing: border-box;
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
  color: $primary-color;

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: $background-color;
}

main {
  height: 100%;
}

.body-portada {
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 2rem;

  .contenido {
    width: 100%;
  }

  .portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    .titulo-contenedor {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 60px;

      &__titulo {
        width: 100%;
        font-size: 4rem;
        color: $primary-color;
        margin: 0;
      }
      &__subtitulo {
        font-size: 2rem;
        color: $primary-color;
        margin: 0;
        max-width: 500px;
      }
    }

    .imagen-perro {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 450px;
    }
  }
}

@media (max-width: $desktop-breakpoint) {
  .body-portada {
    .portada {
      .imagen-perro {
        height: 350px;
      }
    }
  }
}
@media (max-width: $laptop-breakpoint) {
  .body-portada {
    .portada {
      align-items: center;

      .titulo-contenedor {
        &__titulo {
          font-size: 3rem;
        }
        &__subtitulo {
          font-size: 2rem;
        }
      }

      .imagen-perro {
        height: 250px;
      }
    }
  }
}
@media (max-width: $tablet-breakpoint) {
  .body-portada {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/img/fondo-portada.svg");

    .imagen-fondo {
      display: none;
    }

    .portada {
      .titulo-contenedor {
        &__titulo {
          font-size: 7rem;
        }
        &__subtitulo {
          font-size: 2.7rem;
        }
        padding-bottom: 3rem;
      }

      .imagen-perro {
        display: none;
      }
    }
  }
}
