// Fonts
$font-stack: "roboto", sans-serif;

// Colors
$background-color: #f8f8f8;
$primary-color: #03263a;

// Breakpoints
$desktop-breakpoint: 1900px;
$laptop-breakpoint: 1440px;
$tablet-breakpoint: 1024px;
