// Fonts
$font-stack: "roboto", sans-serif;

// Colors
$background-color: #f7f7f7;
$primary-color: #03263a;

// Breakpoints
$desktop-breakpoint: 1900px;
$laptop-breakpoint: 1440px;
$tablet-breakpoint: 1024px;
$phone-breakpoint: 768px;
